[defaults]
host_key_checking = False
inventory = hosts
retry_files_enabled = False
roles_path = ./roles

# Show a timestamp for each task and timing in playbook recap
callbacks_enabled=profile_tasks,timer
